<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InfoHub 360 - Cognito Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <% if (isAuthenticated) { %>
      <h1>Welcome, <%= userinfo.name || userinfo.email %>!</h1>
      <p>You are logged in.</p>
      <pre><%= JSON.stringify(userinfo, null, 2) %></pre>
      <a href="/logout">Logout</a>
    <% } else { %>
      <h1>Welcome to InfoHub 360</h1>
      <p>Please log in to continue.</p>
      <a href="/login">Login with Cognito</a>
    <% } %>
  </div>
</body>
</html>
